<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li>
            <a href="/about"><img src="/assets/me_rounded.png" height="60em" width="60em"></a>
          </li>
          <li>
            {% include social_links.html %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

    </div>

  </div>

</footer>
