<div class="social-links">
  <a href="{{ site.github_link }}" target="_blank">
    <i class="fa fa-github"></i>
  </a>
  <a href="{{ site.bitbucket_link }}" target="_blank">
    <i class="fa fa-bitbucket"></i>
  </a>
  <a href="{{ site.twitter_link }}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a href="{{ site.stackoverflow_link }}" target="_blank">
    <i class="fa fa-stack-overflow"></i>
  </a>
  <a href="{{ site.linkedin_link }}" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="{{ site.angelist_link }}" target="_blank">
    <i class="fa fa-angellist"></i>
  </a>
  <a href="{{ site.facebook_link }}" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="{{ site.google_link }}" target="_blank">
    <i class="fa fa-google-plus"></i>
  </a>
</div>
